<?xml version="1.0" encoding="UTF-8"?>
<plugins>
    <plugin>
        <name>Basic Features</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic TagHelper-like Features]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.features.BasicFeatures</classname>
    </plugin>
    
    <plugin>
        <name>Basic Table Plugins</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic Fscore evaluations]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.metrics.tables.BasicTableEvaluations</classname>
    </plugin>
    
    <plugin>
        <name>Basic Model Evaluation Plugins</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic model accuracy evaluations]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.metrics.models.BasicModelEvaluations</classname>
    </plugin>
    
    <plugin>
        <name>Basic Model Analysis Plugins</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic error analysis]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.analysis.one.BasicModelAnalysis</classname>
    </plugin>
    
    <plugin>
        <name>Basic Model Comparison Plugins</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic model comparisons]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.analysis.two.BasicModelComparison</classname>
    </plugin>
    
    <plugin>
        <name>Alphabet Soup</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Alphabets evaluation]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.filters.AlphabetSoup</classname>
    </plugin>
    
    <plugin>
        <name>FEDA</name>
        <author>Zeyu Zheng</author>
        <version>1.0</version>
        <description><![CDATA[FEDA feature duplication]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.filters.FedaFilter</classname>
    </plugin>
    
    <plugin>
        <name>Evaluation</name>
        <author>Zeyu Zheng</author>
        <version>1.0</version>
        <description><![CDATA[Evaluation filter]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.filters.EvaluationFilter</classname>
    </plugin>
    
    
    <plugin>
        <name>Weka Logit</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Logistic regression classification]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.learning.WekaLogit</classname>
    </plugin>
    
    <plugin>
        <name>Weka SVM</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Support Vector Machine classification]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.learning.WekaSVM</classname>
    </plugin>
    
    <plugin>
        <name>Weka Bayes</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Naive Bayes classification]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.learning.WekaBayes</classname>
    </plugin>
    
    <plugin>
        <name>Weka Trees</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Decision tree classification]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.learning.WekaTrees</classname>
    </plugin>

    <plugin>
        <name>Weka Generic</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Weka's generic interface]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.learning.WekaGeneric</classname>
    </plugin>
</plugins>
