<?xml version="1.0" encoding="UTF-8"?>
<plugins>
	<plugin>
		<name>TagHelperTools</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Provides basic TagHelper feature extraction]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.features.TagHelperTools</classname>
	</plugin>
	<plugin>
		<name>Metafeatures</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Extracts features from additional columns in CSV]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.features.Metafeatures</classname>
	</plugin>
		<plugin>
		<name>Regex Search</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Class to search for regular expressions in text.]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.features.RegexSearch</classname>
	</plugin>
	<plugin>
		<name>Stretch Patterns</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Gets stretchy n-grams from your corpus]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.features.StretchPatterns</classname>
	</plugin>
	<plugin>
		<name>WEKA Learning Plugin</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[This plugin provides access to the classifiers which are part of the WEKA toolkit.]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.learning.WekaLearning</classname>
	</plugin>
	<plugin>
		<name>SVM Light Learning Plugin</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[This plugin provides access to SVM light binaries.]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.svml.SVMLightPlugin</classname>
	</plugin>
	<plugin>
		<name>Horizontal Comparison Plugin</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Compares features between two cells in a confusion matrix, taking the raw increase in frequency.]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.evaluation.HorizontalComparison</classname>
	</plugin>
	<plugin>
		<name>Absolute Horizontal Comparison Plugin</name>
		<author>Elijah Mayfield</author>
		<version>1.0</version>
		<description><![CDATA[Compares features between two cells in a confusion matrix, taking the absolute difference.]]></description>
		<jarfile>light.jar</jarfile>
		<classname>plugin.simple.evaluation.AbsHorizontalComparison</classname>
	</plugin>
</plugins>
