<?xml version="1.0" encoding="UTF-8"?>
<plugins>
    <plugin>
        <name>Basic Features</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic TagHelper-like Features]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.features.BasicFeatures</classname>
    </plugin>
    
    <plugin>
        <name>FScore Plugin</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Basic Fscore evaluations]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.evaluations.tables.FScorePlugin</classname>
    </plugin>
    
    <plugin>
        <name>Alphabet Soup</name>
        <author>Elijah Mayfield</author>
        <version>1.0</version>
        <description><![CDATA[Alphabets evaluation]]></description>
        <jarfile>genesis.jar</jarfile>
        <classname>plugins.filters.AlphabetSoup</classname>
    </plugin>
</plugins>
